/* index.css */
:root {
    --transition-duration: 0.3s; /* Transition duration variable */
    /* Light theme colors */
    --body-background-light: #fff;
    --text-color-light: #212529;
    --nav-link-color-light: #007bff;
    /* Dark theme colors */
    --body-background-dark: #282c34;
    --text-color-dark: #ffffff;
    --nav-link-color-dark: #00bcd4;
  }
  
  /* Global styles for transitions */
  *,
  *::before,
  *::after {
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body-background-light);
    color: var(--text-color-light);
  }
  
  /* Apply the dark theme */
  body[data-theme='dark'] {
    background-color: var(--body-background-dark);
    color: var(--text-color-dark);
  }
  
  /* Apply the dark theme styles for links */
  body[data-theme='dark'] .nav-link {
    color: var(--nav-link-color-dark);
  }
  
  /* Apply the dark theme styles for headings */
  body[data-theme='dark'] h1,
  body[data-theme='dark'] h2,
  body[data-theme='dark'] h3,
  body[data-theme='dark'] h4,
  body[data-theme='dark'] h5,
  body[data-theme='dark'] h6 {
    color: var(--text-color-dark);
  }
  