:root {
  --body_background-light: white;
  --body_color-light: black;
  --link_color-light: navy;
}

[data-theme="dark"] {
  --body_background-dark: #282c34;
  --body_color-dark: white;
  --link_color-dark: cyan;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
